.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .register-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  .register-heading {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .register-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-btn {
    width: 100%;
    padding: 10px;
    background-color: #28A745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-switch-text {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .register-link {
    color: #28A745;
    text-decoration: none;
  }